@charset "utf-8";

body {
    margin: 0px;
    background-color: #ffcc99;
    font-size: 18px;
    color: #f26118;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.midashi{
   text-align: center;
}
h3{
    display: inline-block;
}

.error-message {
    color: red;
  }

.midashi2{
   text-align: center;
}
.main{
  text-align: center;
  padding-top:50px;
  font-size: 30px;
}

input{
    border:	#ff6600;
    border-radius: 10px;
    background-color: #fff;
    padding:12px;
    width: 80%;
    height: 40px;
}
label {
    margin-top: 15px;
    margin-bottom: -5px;
    display: block;
}
input {
    margin-top: 10px;  /* 10pxのスペースを追加します。適切な値に調整してください。 */
}

.wi20{
    width:90px;
    height:20px; 
}

input:focus {
    border-color: #ff6600;
    outline-color: #ff6600; 
    outline-style: solid; 
    outline-width: 2px;
}
.h-adr{
    line-height: 200%;
}

/*
.container{
display:flex;
justify-content: center;
margin-bottom:50px;
  }
*/

.mark{
    width:18px;
}


.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top:20px;
	margin-bottom:50px;
  }
  
  .main5:hover {
    background-color: #ff6600; /* ホバー時の背景色 */
  }
  
  .main5:focus {
    outline: none; /* フォーカス時のアウトラインを削除 */
  }
  
  .main5:active {
    background-color: #ff6600; /* クリック時の背景色 */
  }
  
  .main5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main6 {
    margin: 0px;
    font-size: 12px;
    color: #ff6600;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-right: 10px;  /* 必要に応じて間隔を調整 */
}

.radio-group:last-child {
    margin-right: 0;  /* 最後の要素の余白を0にする */
}
.radio-group label {
    margin-bottom: 5px; /* この値はお好みに応じて調整してください */
}

.buttons-container {
  position: absolute;
    margin-top: -980px;
    display: flex;
    gap: 10px;
    margin-left: 70%;
}

.button {
  padding: 5px 15px;
  background-color: #f2f2f2;
  /* ライトグレーの背景 */
  border: none;
  border-radius: 5px;
  /* 丸みを帯びたボタン */
  text-decoration: none;
  /* リンクの下線を削除 */
  color: #333;
  /* ダークグレーの文字色 */
  font-weight: bold;
  /* 文字を太字に */
  transition: background-color 0.3s;
  /* ホバーエフェクトのアニメーション */
}

.button:hover {
  background-color: #ddd;
  /* ホバー時の背景色 */
}


@media (max-width: 500px) {
    .buttons-container {
        display: none;
    }
}



@media screen and (max-width: 500px){
.test { display: none; }
.hamburger { display: none; }
ol,
ul {
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.hamburger {
    margin: 20px auto 0;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.hamburger .btn-gNav {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 12;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.hamburger .btn-gNav span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.hamburger .btn-gNav span:nth-child(1) {
    top: 0;
}

.hamburger .btn-gNav span:nth-child(2) {
    top: 10px;
}

.hamburger .btn-gNav span:nth-child(3) {
    top: 20px;
}

.hamburger .btn-gNav.open span:nth-child(1) {
    background: #ffffff;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger .btn-gNav.open span:nth-child(2),
.hamburger .btn-gNav.open span:nth-child(3) {
    top: 6px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}


.btn-gNav {
    display: none;
}

.gNav .gNav-menu {
    display: flex;
    justify-content: space-between;
}

.gNav .gNav-menu li {
    margin: 0 auto;
    padding: 0 5px;
}
	
}

@media screen and (max-width: 500px) {
    .btn-gNav {
        display: block;
    }
    .gNav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        box-sizing: border-box;
        z-index: 1;
        padding-top: 50px;
        transition: .3s;
    }

    .gNav.open {
        right: 0;
    }

    .gNav .gNav-menu {
        padding: 0;
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;
        text-align: center;
        /*justify-content: center;*/
    }

    .gNav .gNav-menu li {
        width: 86%;
        padding: 15px;
        border-bottom: #525252 1px solid;
    }
}

@media (min-width: 501px) {
    .hamburger {
        display: none;
    }
}